doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 About This App
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus debitis illum tempora, non labore eligendi placeat maxime dolor nobis asperiores doloremque aspernatur exercitationem, itaque ea iusto! Magnam nulla est expedita

    a(href="/") Back to Home page  