doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Welcome to Student Info Portal
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus cum quo autem at perferendis hic, dolore soluta mollitia iste magni architecto dolor totam, eligendi ipsam ut distinctio molestias provident expedita!

    a(href="/about") about us 
    br
    a(href="/students") view all students 
