doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h1 Student Details
    p Name :  #{student.name}
    p Course :  #{student.course}
    p age :  #{student.age}
a(href="/students") Back to students list 